@import url('https://fonts.googleapis.com/css?family=Cinzel|Quattrocento+Sans&display=swap');
@font-face{
    font-family: "courier prime code";
    src: local('courier prime code'),
         url(./courier-prime-code.regular.ttf) format('truetype');
}
html {
	
	scroll-behavior: smooth;
	
}
body{
	margin: 0; 
	padding: 0;
}
/* Section hello */

#home{
	height: 100vh;
	background-image:url(./img/space3.gif);
	background-repeat: no-repeat;
	background-size: cover;
    padding: 2.5em;
}
#home .row{
	margin-top: 30vh;
}
#home h4, #home p{
    font-family: 'courier prime code';
    color: #f3f3f5;
}
#home span{
    color: #a4c0d4;
    font-weight:bold;
}
#home a:hover{
	text-decoration: none;
}
/* aqnimation */
.contenedor{
	margin: auto;
}
#home p{
	position: relative;
}
#animate{
	position: absolute;
	right: 3vw;
	width: 0;
	height: 20px;
	background: black;
	border-left:2px solid white;
	animation: maquina 7s infinite alternate steps(56), blink .75s step-end infinite;
}
@keyframes maquina {
	from {
		width:97%;
	}
	to {
		width: 0%;
	}
}
@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: white; 
    }
}
@media (max-width: 768px){
	
	#animate{
		
		display: none;
	}
}
/* Navbar */

#navbar{
	overflow: hidden;
	z-index: 9999;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .content{
	  padding-top:60px;
	  padding-bottom: 60px;
  }
.nav-link{
    font-family: 'Quattrocento Sans', sans-serif;
    text-transform: uppercase;
}
.nav-item{

    margin-right:10.5vw;

}


/* este  button tan hermoso cuyo css lo robe de codepen */
.button {
    font-family: 'Quattrocento Sans', sans-serif;
    text-transform: uppercase;
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 0;
	padding: 1em 2em;
	border: none;
	background: none;
	color: white;
	position: relative;
	z-index: 1;
	-moz-osx-font-smoothing: grayscale;
}
.button:focus {
	outline: none;
}

.button--size-s {
	font-size: 14px;
}

.button--text-thin {
	font-weight: 300;
}
.button--border-thick {
	border: 3px solid;
}
.button--ujarak {
	-webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
}
.button--ujarak::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: -1;
	opacity: 0;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--ujarak.button--inverted::before {
	background: #a4c0d4;
}


.button--ujarak.button--inverted:hover {
	color: #fff;
	border-color: #fff;
}
.button--ujarak:hover::before {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
@media (max-width: 768px){
	.button--size-s {
		font-size: 10px;
	}
	.button{
		padding: .7em 1.5em;
	}
}

/* todas secciones menos navbar y footer */
.title{
	font-size: 1.5em;
	font-family: 'Quattrocento Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
	padding: 0;
	margin-top:20vh;
	margin-bottom:0;
}
@media (max-width: 768px) { 
	.title{
		font-size: 1em;
		margin-top:20vh;
		margin-bottom: 0;
	}
}
.content{
	padding: 0;
}
hr{
	background: #2d2929;
	width: 10%;
	padding: 0;
	border-width: 3px;
	margin-bottom:20vh;
}
@media (max-width: 768px){
	hr{
	
		width: 25%;
		margin-bottom:20vh;
	}
}
/* Section about */
#about{
	height: 110vh;
	background: #a4c0d4;
	padding-bottom: 2em ;
}
@media (max-width: 768px) { 
	#about{
		height: auto;
	
	}
}

#about img{
	border-style: solid;
	border-color:white;
	border-width: 8px 8px 40px 8px;
	width: 18em;
	
}
@media (max-width: 768px) { 
	#about img{
		width: 12em;
		margin-bottom:15vh;
	}
}
.img{
	text-align: center;
}
#about .row:last-child p{
	padding:8vh 5vw 0 5vw;
	font-size: 1.4em;
}
@media (max-width: 768px) { 
	#about .row:first-child{
		margin-bottom: 0;
	}
	#about .row:last-child p{
		text-align: center;
		padding: 0 5vw 0 5vw;
		margin-bottom:10vh;
		font-size: .9em;
	}
}
/* projects */


#projects{
	/* height: 100vh; */
	background: #f3f3f5;
	padding-bottom:14vh;
}
#projects a{
	text-decoration: none;
}
#projects img{
	width: 100%;
	height: 250px;
}
#projects .button--ujarak{
	background: transparent;
	border-color: #2d2929;
	color:#2d2929;
}
#projects .button--ujarak:hover{
	border-color: white;
	color:white;
}

.projects{
	padding: 0;
	border:solid 2px white;
}
.description{
	display: none;
}
.projects p{
	text-transform: uppercase;
	margin-top: 50px;
	color: #2d2929;
	font-family: 'Quattrocento Sans', sans-serif;
	text-align: center;
	font-size: 1em;
}
.overlay1 {
    font-size: 1.5rem;

    position: absolute;
  
    height: 50%;
    background-color:#f3f3f5;
    opacity: 1;
    z-index: 5000;
    top: 0;
    left: 0;
    width: 100%;
    transition: .2s;
}
.overlay2{
	
	font-size: 1.5rem;

    position: absolute;
  
    height: 50%;
	background-color: #f3f3f5;
    opacity: 1;
    z-index: 5000;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: .2s;
}
.overlay2 button{
	margin-top: 7%;
}
@media (max-width: 768px){
	.overlay2 button{
		margin-top: 13%;
	}
}
.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: .5s;	
	-webkit-animation-duration: .5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;	
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: .5s;	
	-webkit-animation-duration: .5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}
.slideDown-leave{
	animation-name: slideDown-leave;
	-webkit-animation-name: slideDown-leave;	

	animation-duration: .5s;	
	-webkit-animation-duration: .5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	 visibility: visible !important;				
}
@keyframes slideDown-leave{
	0%{
		transform: translateY(-50%)
	}
	100%{
		transform: translateY(-100%)
	}
}
@-webkit-keyframes slideDown-leave{
	0%{
		transform: translateY(-50%)
	}
	100%{
		transform: translateY(-100%)
	}
}
@keyframes slideDown {
	0% {
		transform: translateY(-50%);
	} 

	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-50%);
	}

	 100% {
		-webkit-transform: translateY(0%);
	}	 
}

@keyframes slideUp {
	0% {
		transform: translateY(50%);
	} 

	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideUp {
	0% {
		transform: translateY(50%);
	}

	100% {
		transform: translateY(0%);
	}
}
center{
	display: none;
}

/* skills */
#skills{
	height: 110vh;
	background: #a4c0d4;
	padding-bottom:14vh;
}
@media (max-width: 768px) { 
	#skills{
		height: auto;
		background: #a4c0d4;
		
	}
}
#skills img{
	width: 60px;
}
.skill{
	text-align: center; 
	padding:20px;
}
/* contact */
#contact hr{
	background: white;
	width: 50%;
	padding: 0;
	border-width: 3px;
	margin-bottom:20vh;
}
#contact .title{
	font-size: 1.5em;
	font-family: 'Quattrocento Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
	padding:0;
	margin-top:20vh;
}
@media (max-width: 768px) { 
	#contact .title{
		font-size: 1em;
	}
}

#contact{
	height: 110vh;
}

/* footer */
#footer{

	background: #2d2929;
	font-family: 'Quattrocento Sans', sans-serif;
	color:#f3f3f5;
	
}
#footer a{
	color:#f3f3f5;
}
#footer a:hover{
	text-decoration: none;
	
}
.list-unstyled li a:hover{
	color: #a4c0d4 !important;
}
@media (max-width: 768px){
	footer{
		height: 110vh;
	}
}


